# Masukan APP ID ambil di web my.telegram.org
API_KEY = "12724680"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "6016204bb414cafdffd53284f704f924"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOHABuytXw4LowR7rvy4v6fcA4yawvngCiuT9VYiOaxcT8sb9-mX-3RYapajzCmTEbI1zb2_7zBxXNWV7AXj2KrYMO8RryPkO-QNNofYmCPvN339AgGTYJYInrtt7XLmwkpI0bkUJoLIrK_-nnm1iRfEY37Wy3Trme8Xf3Ccfck-fXWwc-SOz-o1VnHWdW1PQT0BfdCAsy5dtUftJuVRLW7u8Sd1DUJ0UHxavjxBDQ7-La7UvD9GYlYYXa3RnbivVulF04dAAv0n1nml9Hfk5cnyZZx_nHs54_th18c_bYD-AKyockLAF3zSo0WOutGLQutZnknAWWnV2KD1zXQgP3EbhQtA="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5543769410:AAHaKJjjFHHfHDxGwV1zfTooBbILC9Cjb3E"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001636028542 # this is an integer, please don't use quotes.

#isi Username channel untuk di tampilkan di .alive (jangan gunakan @)
CHANNEL = "vviptsn2"

#isi Username Group untuk di tampilkan di .alive (jangan gunakan @)
GROUP = "sangeannn2"

#costum foto saat .alive (Masukan link telegraph foto)
ALIVE_LOGO = "https://telegra.ph/file/25770e6e85d9c216162f6.jpg"

#Custom CMD_HANDLER Userbot Mu (Untuk awalan memanggil userbot) Contoh .
CMD_HANDLER = .

#costum emoji untuk emoji button saat .helpme
INLINE_EMOJI = -

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://tletrner:agFsuVznVLXs0YtuYmEXED_5zE8XcGPs@rosie.db.elephantsql.com/tletrner"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = True
